{% extends 'base.html' %}

{% block title %} Acerca de nosotros {% endblock %}

{% block css %}

  
{% endblock %}

{% block body %}

{% load static %} 
<img src="{% static 'logo_areandina.jpg' %}" width="500">


<div class="about-section">
    <h1>Acerca de nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur esse .</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aliquid voluptatem inventore.</p>
  </div>
  
  

{% endblock %}

