{% extends 'base.html' %}

{% block title %} Editar página {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<form action="/edit_profile/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="container mt-3">
   {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert('Su perfil ha sido actualizado correctamente.');
    document.location = '/profile/';
    {% endif %}
</script>
{% endblock %}
